body{
    background-color: #EAF6F6;
}

hr{
    border: none;
    border-top: dotted;
    width: 5%;
    border-width: 7px;
    border-color: gray;

}

img {
    height: 200px;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}